
<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>


<h2>Comments</h2>
<%= render @product.comments %>


<h2>Add a comment:</h2>
<%= render 'comments/form' %>


<%= link_to 'Edit', edit_product_path(@product) %>
<%= link_to 'Back', products_path %>
